<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>

    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
    <style>
      #link-hidden {
        display: none;
      }
    </style>
  </head>

  <body>
    <center>
      <div style="padding-top: 50px">
        <div>
          room id: {{ roomCode }} role: {{ role }}
          <p>Waiting for other players to join. Hang on!</p>
        </div>
        <div id="link-hidden">
          <b>Players found! Please click the link below to join game!</b>
          <a href="/gamePlayer/{{roomCode}}/{{role}}">Join Game!</a>
        </div>
        <input type="hidden" id="role-get" value="{{role}}" />
      </div>
    </center>
  </body>
</html>
